* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex-Box */
.f {display: flex;}
.fc {flex-direction: column;}
.jc {justify-content: center;}
.jcsa {justify-content: space-around;}
.ai {align-items: center;}

body {
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background: url('bg2.jpeg') center center/cover;
    height: 100vh;
    width: 42%;
    margin: 0 auto;
    padding-top: 3rem;
}

.container .box {
    border: 1px solid white;
    width: 65%;
    height: 93%;
    margin: auto;
    padding: 2rem 0;
    color: white;
    box-shadow: 1px 1px 8px 1px black;
}

.container .box h1 {
    font-size: 42px;
}

.container .box p {
    font-size: 10rem;
}

.container .box .btns > * {
    background: rgb(43, 43, 80);
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    color: white;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px 2px rgba(20, 20, 20, 0.3);
}

.disabled {
    pointer-events: none;
}

@media (max-width: 990px) {
    .container {
        width: 100%;
    }
}


@media (min-width: 990px) and (max-width: 1100px) {
    .container {
        width: 80%;
    }
}
